//@import "lib/bootstrap/scss/_functions";
//@import "lib/bootstrap/scss/variables";
//@import "lib/bootstrap/scss/mixins";


body {
  height: 100vh;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
  stroke: blue;
  fill: blue;
  stroke-width: 1.5px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
