@import "lib/bootstrap/scss/functions";
@import "lib/bootstrap/scss/variables";
//@import "lib/bootstrap/scss/mixins";

body {
  height: 100vh;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
  stroke: blue;
  fill: blue;
  stroke-width: 1.5px;
}


.dropdown-menu {
  z-index: $zindex-sticky + 1;
}
